.portfolio_sm {
  width: 50vw;
  height: 40vw;
}

.portfolio_lg {
  margin-top: 300px;
  width: 80vw;
  height: 40vw;
}

.portfolio_img img {
  transition: transform 2.5s !important;
}

.portfolio_img:hover img {
  transform: scale(1.05);
}